<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/index.css">

    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <title>Leaderboard</title>
  </head>
  <body>
    <div class="container py-5">
      <div class="jumbotron bg-transparent text-white border">
        <div class="row">
          <div class="col-6">
            <h1 class="display-4 text-uppercase font-weight-bold">Leaderboard</h1>
            <p class="lead">
              It is time to settle the age old debate and show which is the one
              <span class="font-italic font-weight-bold">true</span>
              editor to rule them all.
            </p>
          </div>
          <div class="col-3 offset-2">
            <img class="img-fluid" alt="swords" src="/static/emoji/swords.png">
          </div>
        </div>
      </div>

      <div class="text-center card-deck">
        {% for name in editors %}
          <div class="card bg-transparent border-light">
            <div class="card-body">
              <img class="img-fluid w-100" alt="logo" src="/static/images/{{name}}.svg">
            </div>
            <div class="card-footer text-muted bg-light">
              <div class="row pt-2">
                <a class="col text-danger" href="/vote/{{name}}/minus">
                  <h3><i class="far fa-minus-square fa-lg"></i></h3>
                </a>
                <div class="col"><h3>{{ votes.get(name, 0) }}</h3></div>
                <a class="col text-primary" href="/vote/{{name}}/plus">
                  <h3><i class="far fa-plus-square fa-lg"></i></h3>
                </a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
